#infnengage in projects or just to have a beer? Look no further.

#events.tile
  %h2 upcoming events
  .events-container
    - @events.each_with_index do |event, index|
      - is_next = index == 0
      %div{ class: ['event wrapper', ('next' if is_next)] }
        .ruby= image_tag 'RubyonRails_gem_v01-01.svg'
        .event.link
          - event_link = link_to event.name, event.url
          %h3= event_link
          %p.address
            - if event.address
              =link_to event.time.to_s(:short) + ' | ' + event.address, maps_url(event.address)
            - else
              = event.time.to_s(:short) + ' | to be defined'

        .join-meetup{ id: event.meetup_id }
          Attend

        .participants-toggle
          = image_tag 'ic_people_48px.svg'
          = render 'participants', participants: event.participants

  .read-more
    = link_to 'visit meetup for more', meetup_url

#topics.tile
  .content
    %h2 Next / Previous Topics
    %p please post here which topics you would want to hear about it soon.

#jobs.tile
  .content
    %h2 Jobs
    - @jobs.each do |job|
      = render 'jobs/job', job: job

#sponsors.tile
  .content
    %h2 Sponsors
    %p We would like to thank our sponsors for the great support they provide us so that we can regularly held events in their locations.

    .sponsor= image_tag 'sponsors/panter.png', id: 'patner'
    .sponsor= image_tag 'sponsors/impact-hub.png', id: 'impact-hub'
    .sponsor= image_tag 'sponsors/ungleich.jpg', id: 'ungleich'
    .sponsor= image_tag 'sponsors/simplificator.png', id: 'simplificator'



