%ul.events.list-unstyled
  - @events.each do |event|
    %li.event.row
      .col-md-2.text-right
        %span.label.label-default= event.time.to_s(:short)
      .col-md-10
        %h3
          = link_to event.name, event.url

        - if event.address
          = event.address

        .participants
          - event.participants.each do |participant|
            - if participant.image_url
              = image_tag participant.image_url, alt: participant.name, title: participant.name, size: '40x40', class: "participant status-#{participant.status}"

